ol {
    padding: 0;
  }

  li {
    display: flex;
  }

  .letter-box {
    position: relative;
    background: #4d769c;
    display: inline-flex;
    width: 5rem;
    height: 5rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 0.5rem #193885 solid;
  }

  .letter {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: Arial;
    text-shadow: 2px 2px 1px #726a6a;
    z-index: 1;
  }

  .letter {
    --delay: 0;
    opacity: 0;
    animation: appear 0.4s forwards;
    animation-delay: var(--delay);
  }

  .letter:before,
  .letter:after {
    position: absolute;
    display: block;
    content: ' ';
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: appear 0.4s forwards;
    animation-delay: var(--stateDelay);
  }

  .letter:after {
    background: #4d769c;
    z-index: -2;
  }

  .letter--incorrect-pos:before {
    border-radius: 50%;
    background: #e5e518;
    z-index: -1;
  }

  .letter--correct-pos:before {
    background: #d441f3;
    z-index: -1;
  }

  @keyframes appear {
    from {
        opacity: 0;
    } 

    to {
        opacity: 1;
    }
  }